/*----------Main Shared Elements----------*/
/* Style the header and footer */
.header, h2, footer {
    color: #D1D1D1;
}
/* Style the input */
input {
  background-color: #D1D1D1;
  border-color: #FFFFFF;
  color: #090315;
}

/* styles the dropdown */
select, option {
    background-color: #D1D1D1;
    border: 1px solid #FFFFFF;
    color: #090315;
}
.cornerblob path, .dailyblob path {
    fill: #002BC5;
}
body {
    background-color: #090315;
    color: #D1D1D1;
}
/*----------End: Main Shared Elements----------*/


/*----------Index/Main Page----------*/
#username, #password {
    background-color: #190B37;
    border-color: #AFAFAF;
}
button {
    background-image: linear-gradient(to right, #B9EAFF, #6015FF);
}
h1, button {
    color: #D1D1D1;
}
h3 {
    color: #FFE500;
}
.leftblob path, .circleBottom circle, .circleRight circle {
    fill: #002BC5;
}

.topblob path, .rightblob path, .circTopLeft circle, .circleBottom2 circle {
    fill: #002BC5;
}
/*----------End: Index/Main Page----------*/

/*----------Nav Bar----------*/
.topbar {
    background: #0C0C1E;
}
.topbar label:hover {
    background: #D1D1D1;;
}
.topbar h1 {
    color: #D1D1D1;
}
#hamburger:checked ~ #hamitems {
    background-color: #090315;
    color: #D1D1D1;
}
.dropitem {
    border-color: #D1D1D1;
}
.dropitem:hover{
    background-color: #D1D1D1;
    color: #090315;
}
#menu {
    background-color:#090315;
    border-bottom-color: #D1D1D1;
}
nav form {
    border-bottom-color: #D1D1D1;
}
.popup button, #openpop {
    background-color: #FFE500;
    color: #090315;
}
#signout {
    background-color: #090315;
    border-top-color: #D1D1D1;
}
#signout:hover {
    background-color: #D1D1D1;
    color: #090315;
}
.popup {
    background-color: #090315;
}
.changepass input {
    background-color: #D1D1D1;
    border-color: #FFFFFF;
    color: #090315;
}
nav a, .popup, #signout {
    color: #D1D1D1;
}
legend {
    background-color:#090315;
}
/*----------End: Nav Bar----------*/


/*----------Button styling----------*/
/* Style the "Add" buttons */
.addBtn, .addSubBtn {
    background: #FFE500;
    color: #090315;
}

/* Style the "Next" and "Prev" buttons */
.nextBtn, .previousBtn {
  background: #FFE500;
}

/* sets all the hover colors */
.addBtn:hover, .editBtn:hover, .nextBtn:hover, .previousBtn:hover {
  background-color: #FFFFFF;
}

/* Style the "Create Bullet" button */
.editBtn {
  background: #FFE500;
  color: #090315;
}
/*----------End: button styling----------*/



/*----------All bullet styling----------*/
/* Style the list items */
ul li {
    background: #090315;
    border-color:#D1D1D1;
}

/* Set all odd list items to a different color (zebra-stripes) */
ul li:nth-child(odd) {
    background: #D1D1D1;
    border-color:#090315
}

/* Darker background-color on hover */
ul li:hover {
    background: #D1D1D1;
    color: #090315;
}

/* When clicked on, add a background color and strike out text */
ul li.checked {
    background: #0011ff;
    color: #878787;
}

/* Preventing the subbullets from turning white with a checked parent bullet */
ul li.checked ul li {
/*display: block;*/
    color:#878787;
}

/* Preventing the subbullets from turning white with a checked parent bullet */
ul li.checked ul li.checked {
/*display: block;*/
    color: #D1D1D1;
}

/* Add a "checked" mark when clicked on */
ul li.checked::before {
    border-color: #D1D1D1;
}

/* Style the bullet button to add subbullet */
.sub-bullet-button {
    background: #090315;
    border-color: #24FF00;
    color: #D1D1D1;
}
/*--------End: All bullet styling--------*/


/*----------Monthly specific items----------*/
.grid-item-days {
    background-color: #090315;
    border-color: #24FF00;
}
.grid-item-dates {
    background-color: #090315;
    border-color: #24FF00;
}
.grid-item-dates a {
    background-color: #2A2A62;
    color: #7C7CB4;
}

/* decoration circles */
.circle1 circle {
    fill: #83F0FF;
}
.circle2 circle {
    fill: #002BC5;
}
/*--------End: Monthly Specific Items--------*/