/* importing roboto font (main font face used) */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

@font-face {
    font-family: 'Roboto', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
}

/*----------Main Shared Elements----------*/
body {
    font-family: 'Roboto';
    font-size: 1.5ch;
}

#nav-frame {
    border: none;
    display: block;
    line-height: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 200;
}

/* header for the date title */
h2 {
    font-size: 5ch;
    position: relative;
    align-self: center;
}

/* Style the header */
.header {
    background-color: none;
    padding: 30px 40px;
    text-align: center;
}
  
/* Clear floats after the header */
.header:after {
    content: "";
    display: table;
    clear: both;
}

/* daily: the add button */
.headerButtons {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

/* Include the padding and border in an element's total width and height */
* {
    box-sizing: border-box;
}

/* Style the input */
input {
  margin: 0;
  border: 1px solid;
  border-radius: 45px;
  width: 40vw;
  padding: 7px;
  float: left;
  font-size: 1.5ch;
  align-self: center;
}

#sub-bullet-container {
  display: flex;
  flex-direction: row;
  max-height: 35px;
}

/* Style the input box for subbullets */
#mySubInput{
  flex-grow: 1;
}

.sub-bullet-dropdown{
  flex-grow: 1;  
}

/* Style the subullet dropdowns */
#sub-bullet-type{
  float: left;
}

.task {
  align-self: center;
  width: 50vw;
}

/* styles the dropdown */
select, option {
    font-family: 'Roboto';
    border-radius: 45px;
    padding: 5px;
}

/* decoration element: use svg from images in html */
.dailyblob {
  position: fixed;
  bottom: -5vh;
  left: 5vw;
  z-index: -1;
}

/* decoration element of pink circle */
.circle1 {
  position: fixed;
  bottom: -2vh;
  left: 65vw;
  z-index: -1;
}
/* decoration element of purple circle */
.circle2 {
  position: fixed;
  bottom: 10vh;
  right: 25vw;
  z-index: -1;
}
/*----------End: Main Shared Elements----------*/

/*-----------Daily Specific Items-----------*/

/* main positioning of items */
#container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  max-height: 35px;
}

.categoryDiv {
  margin: 1% 1% 1% 1%;
}
/*---------End: Daily Specific Items---------*/

/*----------Button styling----------*/

/* Style the "Add" buttons */
.addBtn, .addSubBtn {
  z-index: 1;
  padding: 10px;
  width: 6vmax;
  float: left;
  text-align: center;
  font-size: 2vmin;
  line-height: 90%;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 10px;
}

/* Style the add button for subbullets */
.addSubBtn {
flex-grow: 1;
font-size: 1vmax;
line-height: 50%;
}

/* footer contains the prev and next buttons */
.footer {
position: fixed;
left: 1vw;
right: 1vw;
bottom: 1vw;
text-align: center;
font-size: 0.75vw;
line-height: 0.7vw;
z-index: 100;
}

/* Style the "Next" and "Prev" buttons */
.nextBtn, .previousBtn {
position: relative;
padding: 10px;
width: 8vw;
font-size: 1.2vmax;
height: 2.5vmax;
cursor: pointer;
transition: 0.3s;
border-radius: 10px;
text-align: center;
line-height: 100%;
}
/* Style the "Next" button */
.nextBtn{
float: right;
}

/* Style the "Previous" button */
.previousBtn {
float: left;
}


/* i found two .editBtn so i'm commenting one of 
these out since it seems to conflict with prev one
.editBtn {
  position:absolute;
  right:0;
}*/

/* Style the "Create Bullet" button */
.editBtn {
position:absolute; /* copied over from last part - may not need */
padding: 10px;
width: 6vmax;
height: 3vmax;
float: right;
text-align: center;
font-size: 1.75vmax;
cursor: pointer;
transition: 0.3s;
border-radius: 10px;
word-wrap: break-word; 
line-height: 1ch;
right: 1vw;
}

/*----------End: button styling----------*/


/* Remove margins and padding from the list */
ul {
  margin: 0;
  padding: 0;
}

/* Style the list items */
ul li {
  cursor: pointer;
  position: relative;
  z-index: 0;
  padding: 12px 8px 12px 40px;
  font-size: 18px;
  transition: 0.2s;
  width: 30vw;
  margin: auto;
  border-style: solid;
  border-radius: 45px;
  /* To avoid the border between li elements being double thick, set the
  border separately for the top and bottom to half the height*/
  border-top-width: 2px;
  border-bottom-width: 2px;
  border-left-width: 4px;
  border-right-width: 4px;
  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow-wrap: break-word;
  transition: all .3s;
  text-decoration: none;
}

/* Style the bullets inside the parent bullets */
ul li ul li {
  width: 25vw;
  overflow-wrap: break-word;
  text-decoration: none;
}

/* Style the first list element to have a normal width top border*/
ul li:first-of-type {
  border-top-width: 4px;
}

/* Style the last list element to have a normal width bottom border*/
ul li:last-of-type {
  border-bottom-width: 4px;
}

/* Style the dividers between bullet categories */
.bulletHeader {
  text-align: center;
}

/* Preventing the subbullets from turning white with a checked parent bullet */
ul li.checked ul li {
  /*display: block;*/
  text-decoration: none;
}

/* Preventing the subbullets from turning white with a checked parent bullet */
ul li.checked ul li.checked {
  /*display: block;*/
  text-decoration: none;
}

/* Add a "checked" mark when clicked on */
ul li.checked::before {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

/* Style the bullet button to add subbullet */
.sub-bullet-button {
  float: right;
  margin: 1%;
  padding: 2px;
  width: 10%;
  height: 10%;
  text-align: center;
  font-size: 0.75vw;
  line-height: 0.7vw;
  cursor: pointer;
  border-radius: 10px;
  transition: width 1s;
}

/* Style the list containing subullets*/
ul li ul {
  margin: 2%;
}

/*--------Adjusting for window sizes--------*/

/* Style the window when the window is large */
@media only screen and (min-width: 1000px){
  #bulletContainer {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
}

/* Style the window when the window is small */
@media only screen and (max-width: 1000px){
  #bulletContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
  }

  .editBtn{
    min-width: 150px;
    height: 4vmax;
  }

  ul li {
    width: 65vw;
    min-width: 460px;
  }

  ul li ul li {
    min-width: 400px;
    width: 55vw;
  }
  .previousBtn, .nextBtn{
    font-size: 4vmax;
    height: 5vmax;
    min-width: 270px;
  }

  /* Style the add button for subbullets */
  .addSubBtn {
    font-size: 4vmax;
    line-height: 50%;
  }

  .sub-bullet-button {
    font-size: 3vmax;
  }

}
/*--------End: Adjusting for window sizes--------*/