body {
    margin: 0;
}

header {
    margin: 0;
    padding: 0;
}

.topbar {
    background: #7C7CB4;
    padding: 0;
    position: relative;
    width: 100%;
    z-index: 1;
}

#hamburger {
    display: none;
}

.topbar label {
    border-radius: 4px;
    cursor: pointer;
    float: left;
    margin: 18px 10px 0 12px;
    padding: 10px 6px 6px 6px;
}

.topbar label img {
    width: 45px;
}

.topbar label:hover {
    background: #8E8ECD;;
}

#barlogo {
    display: inline-block;
    margin: 8px 0px 4px 14px;
    width: 65px;
}

#bartitle {
    display: inline-block;
    margin-bottom: 15px;
}

.topbar h2 {
    display: inline-block;
    position: absolute;
    right: 50px;
    top: 10px;
}

#hamitems {
    display: none;
}

nav input:checked ~ #hamitems{
    background-color: #8E8ECD;
    display: block;
    float: left;
    height: 100%;
    position: absolute;
    top: 0;
}

nav a {
    border-bottom: 1px solid white;
    box-sizing: border-box;
    display: block;
    font-size: 28px;
    padding: 10px;
    position: relative;
    text-decoration: none;
    top: 80px;
    width: 10em;
}

nav a:hover{
    background-color:#ADADE2;
}

nav button {
    background-color:#ADADE2;
    border: none;
    border-top: 1px solid white;
    bottom: 0px;
    font-size: 18px;
    height: 60px;
    position: absolute;
    width: 100%;
}

nav button:hover{
    background-color:#7C7CB4;
    cursor: pointer;    
}

/* Universal font things*/
.topbar h2, nav a, button {
    color: white;
    font-family: sans-serif;
}