name: JSDocs
on: [push, pull_request]
jobs: 
  deploy:
    runs-on: ubuntu-latest
    steps:
        - name: Checkout code
          uses: actions/checkout@v2
          
        - name: Build
          uses: andstor/jsdoc-action@v1
          with:
            source_dir: ./source
            recurse: true
            output_dir: ./source/jsdocs
        - name: list
          working-directory: ./source
          run: |
            git config --global user.name "QE" 
            git config --global user.email "b2wu@ucsd.edu"
            git add jsdocs/
            git commit -m 'jsodcs update'
            git push origin HEAD
